@{
    ViewBag.Title = "Index";
}


<main>
    <h2>MVC assignment .Net Programmerare/Systemutvecklare- Lexicon Yrkesutbildning i Väst</h2>
    <h3>Course Content</h3>
    <ul>
        <li>
            <p>C# .NET</p>
        </li>
        <li>
            <p>Webbutveckling: HTML5, CSS3, Bootstrap, JavaScript</p>
        </li>
        <li>
            <p>
                ASP.NET Core MVC: Model-View-Controller and Identity
            </p>
        </li>
        <li>
            <p>
                Databas: SQL, Entity Framework
            </p>
        </li>
        <li>
            <p>
                Azure: Azure functions Deployment, Continuous Integration, Continuous Deployment, IoT Hub
            </p>
        </li>
        <li>
            <p>
                Project
            </p>
        </li>
    </ul>
</main>
