@model  Countries_ViewModel


<div>
    <h2>@Model.Title</h2>
    <h4>@Model.Description</h4>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Country ID</th>
                <th scope="col">Country Name</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Countries.Count != 0)
            {
                @foreach (var country in Model.Countries)
                {

                    <tr>
                        <td>@country.Id</td>
                        <td> @country.CountryName</td>
                    </tr>

                }
            }

        </tbody>
    </table>
</div>
