@model  PeopleViewModel


<div>

    @if (Model.Countries.Count != 0)
    {
        @foreach (var country in Model.Countries)
        {


            <div class="row">
                <div class="col">
                    @country.Id
                </div>
                <div class="col">
                    @country.CountryName
                </div>
            </div>


        }
    }
</div>