
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stylebasic.css" asp-append-version="true" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="header">
        <nav>
            <div>
                <ul>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Projects">Projects</a>
                    </li>
                    @if (User.IsInRole("Admin") || User.IsInRole("User"))
                    {
                        <li class="nav-item">
                            <a asp-controller="People" asp-action="People">People</a>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a asp-controller="Countries" asp-action="Countries">Countries</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Cities" asp-action="Cities">Cities</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Languages" asp-action="Languages">Languages</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Roles" asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Roles" asp-action="Users">Users</a>
                        </li>
                    }
                 
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer>
    <span>Created by Danielle Andersson &copy;</span><span>@DateTime.Now.Year</span>
</footer>
</html>

