@model MVC_2.ViewModels.PeopleViewModel

    <h4>Partial View - Users List</h4>
    <div>

        @if (Model.Persons.Count != 0)
        {
            @foreach (var person in Model.Persons)
            {


                <div class="row">
                    <div class="col">
                        @person.PersonId
                    </div>
                    <div class="col">
                        @person.Name
                    </div>
                    <div class="col">
                        @person.Phone
                    </div>
                    <div class="col">
                        @person.City
                    </div>
                </div>


            }
        }
        @if (Model.Persons.Count == 0)
        {
            <p>The list is empty!</p>
        }

    </div>

