@model PeopleViewModel


@{
    string[] headers = { "ID", "Name", "Phone", "City" };
}

    <h4>Partial View - User Details</h4>

    <div class="container">
        <div class="row">
            @if (Model.Persons.Count != 0)
            {
                @foreach (var header in headers)
                {
                    <div class="col-sm">
                        @header
                    </div>
                }
            }
            @if (Model.Persons.Count != 0)
            {
    

                @foreach (var person in Model.Persons)
                {

                    <div class="row">
                        <div class="col">
                            @person.PersonId
                        </div>
                        <div class="col">
                            @person.Name
                        </div>
                        <div class="col">
                            @person.Phone
                        </div>
                        <div class="col">
                            @person.City
                        </div>
                    </div>

                }
            }

        </div>
    </div>
