@model Languages_ViewModel


<div>
    <h2>@Model.Title</h2>
    <h4>@Model.Description</h4>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Country ID</th>
                <th scope="col">Country Name</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Languages.Count != 0)
            {
                @foreach (var language in Model.Languages)
                {

                    <tr>
                        <td>@language.Id</td>
                        <td>@language.LanguageName</td>
                    </tr>

                }
            }

        </tbody>
    </table>
</div>
